.container {
  padding: 1.8rem 2rem;
}

.main {
  min-height: 100vh;
  /* flex-direction: column;
  justify-content: center; */
  margin: 0px auto;
  width: 80%;
}

.ul {
  padding: 0;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffff;
  color: black;
  text-align: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
